<h1>Edit task</h1>

<%= form_for(@task) do |t| %>
  <p>
    <%= t.label :title %>
    <%= t.text_field :title %>
  </p>
  <p>
    <%= t.label :details %>
    <%= t.text_field :details %>
  </p>
  <p>
    <%= t.label :completed%>
    <%= t.check_box :completed %>
  </p>
  <%= t.submit %>
<% end %>
